body {
    background-image: url("./assets/images/pexels-photo-1103970.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
}

.about-me {
    background-color: rgb(169, 154, 189);
}

.about-me {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-;
    text-align: justify;
}


