body {
    background-image: url("./assets/images/pexels-photo-1103970.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
}

.about-me {
    background-color: rgb(169, 154, 189);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: justify;
}
.navbar-brand {
font-size: 2em;

}

#navbarNav {
    font-size: 1.5em;
}

.contact-side {
    font-size: 1em;
}
.pf-bg-color {
    background-color: brown;
}

